**/__pycache__/**
**/__pycache__/
tmp-01/**
*.html
transcript-analysis-0*/
build/
transcript_analyser.egg-info/
transcript_analyser/transcript_analyser.egg-info/
**/.DS_Store
.ipynb_checkpoints/
.vscode/
indices/**
!indices/.gitkeep
env/
dist/